<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Asp Todo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/asp_todo.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body style="height: 100vh;">
    <header>
        <nav class="navbar navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container"  style="justify-content: start !important;">
                <a class="navbar-brand" asp-area="" asp-controller="Todo" asp-action="Index">Asp Todo</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3" style="max-height: calc(100vh - 174px) !important;">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted position-fixed bottom-0 p-5 w-100">
        <div class="container">
            &copy; 2024 - Asp Todo
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
